* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .app {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1.5fr 9fr 2fr; /* tres colunas*/
    grid-template-rows: 126px 1fr 30px; /* 3 linhas*/
    grid-template-areas: 
    "logo header anuncios"
    "menus conteudo anuncios"
    "menus footer anuncios";
    height: 100vh;
   
}

aside.logo{
    grid-area: logo;
}
div.anuncios{
    grid-area: anuncios
}
aside.menu-area{
    grid-area: menus;
}
main.conteudo{
    grid-area: conteudo;
}
footer.footer{
    grid-area: footer;
}

