* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .app {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1.5fr 10.5fr; /* tres colunas*/
    grid-template-rows: 104px 1fr 30px; /* 3 linhas*/
    grid-template-areas: 
    "header header"
    "menus conteudo"
    "menus footer";
    height: 100vh;
   
}

header.header{
    grid-area: header;
}

aside.menu-area{
    grid-area: menus;
}
main.conteudo{
    grid-area: conteudo;
}
footer.footer{
    grid-area: footer;
}

