

.modelos{
    display: flex;
    flex-direction: row;
    
}
/*Menus*/
.menu-btn{
    margin-top: 5px;
    
}
.menu-btn button{
    border-radius: 5px;
    border: none;
    background-color: rgb(95, 104, 230);
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
}

/*REsponsividade*/

@media screen and (max-width: 1200px){
    
    .images{
        width: 400px;
    }
}
@media screen and (max-width: 1150px){
    
        .modelos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 667px){
    
    .images{
    width: 320px;
}
}