@font-face {
  font-family: 'Comic Sans MS3';
  src: url('../../assets/fonts/ComicSansMS3.ttf') format('truetype');
}

.header{
    background-image: url("../../assets/img/arduinosBarra.png");
    color: rgb(10, 19, 153);
    font-weight: bold;
    text-align: center;
    text-justify: auto;
      position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
   
    
    }
    .header{
        
        justify-content: center;
        align-items: center;
    } 
    .header div{
      background-color: aquamarine;
        opacity: 0.6;
        font-family: Comic Sans MS3, Geneva, Verdana, sans-serif;
        font-size: 70px;
        width: 100%;

    }
   


@media screen and (max-width: 850px){
  .header div{
      font-size: 50px;
      width: 100%;

  }
}

