
.header{
    background-image: url("../../assets/img/arduinosBarra.png");
    font-size: 70px;
    color: rgb(10, 19, 153);
    font-weight: bold;
    text-align: center;
    text-justify: auto;
      position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
   
    
    }
    .header p{
        background-color: aquamarine;
        opacity: 0.6;
        font-family: Comic Sans MS;
    }
    


@media screen and (max-width: 800px){
  .header p{
    font-size:50px;
  
}
}