@font-face {
  font-family: 'Comic Sans MS3';
  src: url('../../assets/fonts/ComicSansMS3.ttf') format('truetype');
}

.header{
    background-image: url("../../assets/img/arduinosBarra.png");
    font-size: 70px;
    color: rgb(10, 19, 153);
    font-weight: bold;
    text-align: center;
    text-justify: auto;
      position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
   
    
    }
    .header p{
        background-color: aquamarine;
        opacity: 0.6;
        font-family: Comic Sans MS3, Geneva, Verdana, sans-serif;
    }
    


@media screen and (max-width: 800px){
  .header{
        font-size:60px;
    justify-content: center;
      }
      
}