.menu-area{
    min-width: 90px;
    background-color: rgb(95, 104, 230);
   }
.menu{
    
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-left: 5px;
    margin-top: 15px;
    
 }
 .icones{
    color: yellow;
    
 }
 label{
    color: white;
    margin-left: 4px;
 }


.icones:hover{
    color: aquamarine;
    font-weight: 300;
   
}


@media screen and (max-width: 800px){
    
        .menu{
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            margin-left: 10px;
        
    }
    .icones{
        padding-right: 20px;
    }
   
}
@media screen and (max-width: 667px){
    
    .menu{display: grid;
        font-size: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        margin-left: 10px;
    
}
Link{
    display: flex;
    flex-direction: row;
}
}